#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:2px solid rgb(30, 190, 177);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
.bgg{
    background-color: rgb(255, 255, 255);
}
.selfie{
    color: cadetblue;
}
.anti{
    color: cadetblue;
}


